# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ List some widely used Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| RStudio           |
|Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [31]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Yogeshanand Raut